.Notification_card{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    background-color: #beeee5;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
    margin-bottom: 1em;
    margin-top: .5em;
    
    margin-right: 1em;
    transform: translate(-120%);
    transition: all 3s;

}
.Notification_padding{
  padding: 1em;
}
.show{
    transform: translate(0%)
}
.btn_group > .MuiButtonBase-root{
  margin-right: 0px;
}
.Notification_card_header{
  height: 20px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.Notification_card_header >.MuiSvgIcon-root{
  position: absolute;
  right: 0;
  cursor: pointer;
}